<nav style="position: fixed; top:0;height: 30px;z-index: 20;left: 0;right: 0;">
    <ul class="pager" style="margin: 0;">
        <li class="previous"><a href="/<%if(data.page===1) {%>1<%}else{%><%=data.page-1%><%}%>"><span aria-hidden="true">&larr;</span>Last</a></li>
        <li class="next"><a href="/<%= data.page+1%>">Next<span aria-hidden="true">&rarr;</span></a></li>
    </ul>
</nav>
<div class="row" style="margin-top: 30px;">
    <% for(var i=0; i<data.result.length; i++) {%>
    <div class="col-xs-6 col-md-3">
        <a target="_blank" href="/profile/<%= data.result[i].id%>" class="thumbnail">
            <img class="lazy" data-original="http://139.196.35.176:8000/<%= data.result[i].localSmallPicSrc%>" style="height: 350px;"  alt="<%= data.result[i].title%>" title="<%= data.result[i].title%>">
        </a>
    </div>
    <% } %>
</div>
